# {{ ansible_managed }}
# ansibleguy.addons_nftables

[Unit]
Description=Service to process NFTables Add-On '{{ addon_key }}'
Documentation=https://github.com/ansibleguy/addons_nftables
Requires=nftables.service

[Service]
Type=simple
User={{ NTF_ADD_CONFIG.timer.systemd.user }}
Group={{ NTF_ADD_CONFIG.timer.systemd.group }}
ExecStart=python3 {{ NTF_ADD_CONFIG.path.lib }}/{{ addon_key }}.py
{% if ansible_distribution | lower == 'debian' and ansible_distribution_version == '10' %}
StandardOutput=syslog
StandardError=syslog
{% else %}
StandardOutput=journal
StandardError=journal
{% endif %}
SyslogIdentifier={{ NTF_ADD_CONFIG.timer.systemd.syslog_id_prefix }}_{{ addon_key }}
