# {{ ansible_managed }}
# ansibleguy.addons_nftables

[Unit]
Description=Timer to process NFTables Add-On '{{ addon_key }}'

[Timer]
OnCalendar={{ NFT_ADD_CONFIG.timer.systemd[addon_key] }}
Persistent=false
WakeSystem=false

[Install]
WantedBy=multi-user.target
